@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  outline: none;
}

textarea {
  min-height: 3em;
  max-height: 3em;
  outline: none;
}

.max-h-560 {
  max-height: 560px;
}

.formulario {
  width: 1000%;
}

.contPaso {
  width: 10%;
  transition: margin 0.4s ease-in-out;
}

@media (min-width: 768px) {
  .md\:h-97 {
    height: 97%;
  }
}
